spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/todo_db
    username: todo_user
    password: todo_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379

app:
  cache:
    enabled: true

server:
  port: 8080

logging:
  level:
    com.todo.todolist: DEBUG
    org.springframework.cache: TRACE